<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="BookStore.Properties.Settings.BookStoreConnection"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\BookStore.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="BookStore.Properties.Settings.BSConnection" connectionString="Data Source=desktop-3en6tgv\sqlexpress;Initial Catalog=BookStore;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>